<main class="main" id="main">
  <form action="#" class="form js_form">
    <input
      class="form__input js_searchInput"
      type="text"
      name="search"
      id="search"
      placeholder="Busca tu serie "
    />
    <input type="button" value="🔍" class="form__button js_searchBtn" />
  </form>

  <section class="container">
    <section class="section__fav">
      <h2 class="section__fav--title" id="fav">Mis favoritas</h2>
      <ul class="section__fav--list-favorite js-favList"></ul>
      <input type="button" value="Reset" class="section__fav--reset js_reset" />
    </section>
    <section class="section__results">
      <!-- <a href="#fav">Favoritos</a> -->
      <h2 class="section__results--title hidden js_reultsTitle">Resultados</h2>
      <ul class="section__results--list js-resultsList"></ul>
    </section>
  </section>
</main>
