// fonts
$font-main: 'Oswald', sans-serif;

// colors
$background-color-grey: rgb(155, 152, 152);
$red: #c3002f;
$arrow-white: #bebdbe;
$font-grey: #4a4a4a;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200) {
    @content;
  }
}
